* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-image: url("./images/home1.jpg");
  background-size: cover; /* Установите размер фона как "покрывающий" */
  background-repeat: no-repeat; /* Запретить повторение фонового изображения */
  width: 100%;
  height: 900px;
  position: relative;
}

.wrapper .header {
  /* position: fixed; */
  width: 100%;
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:transparent;
}

.wrapper .header h2 {
  color: #fff;
  font-family: Ribeye;
  font-size: 24px;
  letter-spacing: 1.44px;
}

.wrapper .header ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.wrapper .header ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
}
.wrapper .header button {
  width: 163px;
  height: 51px;
  border-radius: 5px;
  background: #c9453b;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.6s linear;
}
.wrapper .header button:hover {
  background: cadetblue;
}
.wrapper .text1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 286px;
  left: 218px;
  width: 804px;
  gap: 30px;
  /* height: 154px; */
}
.wrapper .text1 h1 {
  color: #fff;
  font-family: Gelasio;
  font-size: 65px;
}
.wrapper .text1 p {
  width: 458px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  opacity: 0.6;
  font-style: normal;
  line-height: 160%; /* 28.8px */
  font-weight: 400;
}
.wrapper .text1 button {
  width: 187px;
  height: 59px;
  border-radius: 5px;
  background: #c9453b;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.6s linear;
}
.wrapper .text1 button:hover {
  background: cadetblue;
}
.main .content1 {
  width: 1140px;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .content1 h1 {
  margin-top: 140px;
  color: #000;
  font-family: Gelasio;
  font-size: 43px;
}
.main .content1 p {
  width: 735px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
}
.main .content1 .mini-content {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.main .content1 .mini-content .img1 {
  width: 360px;
  height: 500px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: transform 0.8s;
}
.img1:hover {
  transform: scale(1.1);
}
.main .content1 .mini-content .img1 h1 {
  margin-top: 30px;
  color: #000;
  text-align: center;
  font-family: Gelasio;
  font-size: 24px;
  font-style: normal;
}
.main .content1 .mini-content .img1 p {
  margin-top: 5px;
  width: 306px;
  height: 55px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
}
.main .content1 .mini-content .img1:nth-child(2) {
  width: 360px;
  height: 500px;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}

.main .content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1900px;
  height: 900px;
  gap: 20px;
}
.main .content3 .mini-content3 {
  width: 70%;
  height: 665px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 32px; */
}
.main .content3 .p1 {
  width: 581px;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  opacity: 0.6;
}

.main .content3 .mini-content3 .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 554px;
  height: 665px;
  gap: 10px;
}
.main .content3 .mini-content3 .info img {
  width: 554px;
  height: 397px;
}

.main .content3 .mini-content3 .info h1 {
  margin-top: 25px;
  width: 271px;
  height: 32px;
  color: #000;
  font-family: Gelasio;
  font-size: 20px;
  font-style: normal;
}
.main .content3 .mini-content3 .info p {
  width: 440px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  opacity: 0.6;
}
.main .content3 .mini-content3 .info h3 {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
}
.main .content3 .mini-content3 .info2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 540px;
  height: 665px;
}
.main .content3 .mini-content3 .info2 .img1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .content3 .mini-content3 .info2 .img1 .text12 {
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .content3 .mini-content3 .info2 .img1 .text12 h1 {
  color: #000;
  font-family: Gelasio;
  font-size: 20px;
  font-style: normal;
}
.main .content3 .mini-content3 .info2 .img1 .text12 p {
  width: 243px;
  height: 60px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  opacity: 0.6;
}
.main .content3 .mini-content3 .info2 .img1 .text12 h3 {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  opacity: 0.8;
}
.footer {
  width: 100%;
  height: 348px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-direction: row;
}

.footer .block1 p {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 30px;
}
.footer .block1 h1 {
  color: #000;
  font-family: Ribeye;
  font-size: 24px;
  font-style: normal;
  margin-bottom: 40px;
}
.footer ul li a {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  display: flex;
  list-style: none;
  text-decoration: none;
}
.footer .block2 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.footer .block3 ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  align-items: start;
}
.footer .block4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 42px;
  align-items: start;
}
.footer .block4 h1 {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
}
.footer .block4 .inputs input {
  width: 195px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.footer .block4 .inputs input::placeholder {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  opacity: 0.5;
}
.footer .block4 .inputs button {
  width: 103px;
  height: 44px;
  border-radius: 5px;
  background: #c9453b;
  margin-left: 15px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.4s linear;
}
.footer .block4 button:hover {
  background: cadetblue;
}
